                /*Styles.css*/
                
                div {
                    color: #ffffff
                }
                
                p {
                    color: red;
                }
                
                .flex container div {
                    flex: content;
                    background-color: lightgreen;
                    width: fit-content;
                    height: fit-content;
                    padding: 50px;
                    margin: 20px;
                    font: size 15px;
                    ;
                }
                
                title {
                    background-color: #0f43df;
                }
                
                h1 {
                    text-align: center;
                    text-decoration-color: blue;
                    text-size-adjust: auto;
                    font-style: normal;
                }
                
                h2 {
                    text-rendering: inherit;
                }